<div class="home_title_box">
  <img src="/images/home5.jpg" class="home_back_img">
  <div class="home_title">
    <img src="/images/pawsbig.png" class="home_title_img">
    <i>Syumitier</i>
    <p>-趣味の幅をゆるーく広げるサイト-</p>
  </div>
</div>

<div class="home_info">
  <h2>【Syumitierは新たな趣味探を探す人のためのコミュニティサイトです。】</h2>
  <p>・サークルを作成してメンバーを募ったり、サークルに参加したりできます。</p>
  <p>・サークル活動の記録や質問、連絡等のできる掲示板機能があります。</p>
  <p>・まずはアカウント作成して気になる趣味をさがしてみよう！</p>
  <a><%= link_to "新規登録", new_user_path, class:"link_btn" %></a>

</div>

<%= render 'groups' %>
