.group_show_box{
  height: 530px;
  width: 910px;
  margin: 50px auto;
  position: relative;
  padding: 0.5em 1.5em;
  background-color: rgba(#ffffff, 0.8);
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.group_show_box:before,.group_show_box:after{
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}
.group_show_box:before {left: 10px;}
.group_show_box:after {right: 10px;}

.group_show_box d{
  font-size: 1.5rem;
  padding-left: 2px;
  border-left: inset 1px;
}

.show_content_box{
  width: 650px;
  height: 220px;
  margin:20px auto;
}

.show_content_field{
  width: 650px;
  height: 220px;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #474747;
  background: #fbe8a3;
  border-left: solid 10px #ffc06e;
}

.show_member_box{
  margin: 50px 0px 0px 15px;
  width: 850px;
  border: double 5px #50d24e;
  background-color: #daf0da;
}

.show_member_box_in{
  margin-left: 2px;
  border-left: solid 1px;
}

.show_btn_box{
  float:right;
  margin: 150px 0px 0px 40px;
}

.show_btn_box p{
  display: inline-block;
  margin-right: 20px;
}

.manager_edit_btn{
  margin: 20px 0px 0px 30px;
}
